@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
    outline: none;
    color: #ffffff;
}

 section{
} 

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container{
    width: 700px;
    background-color: rgb(244, 93, 23);
    opacity: 0.9;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.19);
    background-color: rgba(0,0,0,0.08) 0px 4px 12px;
    margin-right: 40px;
}
.container form{
    width: 100%;
    text-align: center;
    padding: 25px 20px;
}
.text{
    padding: 30px 0 10px;
    color: #000000;
    font-size: 59px;
    font-weight: 500;
    padding-top: 0px;
}

form h2{
    padding-right: 20px;
    color: #070706;
}

form .id{
    position: relative;
}
.id i{
    position: absolute;
    font-size: 20px;
    color:  rgb(247, 78, 0);
    top: 50%;
    right: 20px;
    transform: translateY(-50%); 

}
form input{
    width: 100%;
    height: 50px;
    margin: 4px 0;
    background: #000;
    padding: 0 15px;
    padding-right: 45px;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    border-radius: 50px;
}

::placeholder{
    font-weight: 1000;
    border-radius: 500px;
}

form input{
    background: #f1f1f1;
    border: 1px solid rgb(85, 83, 83);
}

form textarea{
    padding: 5px 15px;
    border-radius: 3px ;
    background: #fff;
    color: #000;
    font: bold ;
    font-size: 20px;
    width: 100%;
    margin: 4px 0;
    border-radius: 20px;
}
.close-button {
    
    margin-left:630px;
    top: 20px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: black;
  }
.container button{
    width: 50%;
    height: 50px;
    background-color: #f0edec;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    color: #1f1d1d;
    font-weight: 600;
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 40px;
    transition: background-color 0.3s ease;

    
}
.container button:hover{
    background-color: #f0edec;
    box-shadow:0 0 15px   #1f1d1d ;
    
    
}
.container button:focus{
    outline:none;
}

form input:focus,
form textarea:focus{
    /* border:1px solid #00fff0;  */
    /* color: #00fff0; */
    transition: all 0.3s ease;
}

form input:focus::placeholder,
form textarea:focus::placeholder{
    padding-left: 4px;
    /* color: #00fff0; */
    transition: all 0.3s ease;
}

form input:focus + i{
    /* color: #00fff0; */
    transition: all 0.3s ease;
}
.pic{
    width: 100px;
    height: 100px;
    padding-bottom: 27.5%;
    padding-left: 5%;
    user-select: none;
}

.container2{
  position: relative;
  width: 400px;
  background: transparent;
  /* margin-left: 150px; */
  padding-top: 20px;
  padding-right: 70px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container2 .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #fff;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fd4;
}
